@tailwind base;
@tailwind components;
@tailwind utilities;

.common-btn {
  background-color: cornflowerblue;
  color: white;

  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out;
  text-align: center;
}
